* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background: #2a2c37;
  color: #50fa7b;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
